html {
  height: 100%;
}

body {
  height: 100%;
}
#navbar {
  background-color: #D3D3D3;
}

#main {
  height: 100%;
  background: url();
  margin-top: 50px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#aboutme {
  height: 100%;
}

#education {
  height: 100%;
}

#education p{
  color: black;
  font-size: 20px;
}
#experience {
  height: 100%;
}

#experience p {
  text-align: center;
  font-size: 20px;
  color: black;
}
